<a href="https://colab.research.google.com/github/sreeharsha243/BigData/blob/main/Bigdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# DAY-01

#create a list of cricket player names and sort them

cplayers=["virat","rahul","ashwin","rohit","Jadeja"]
splayers=sorted(cplayers,key=lambda arg:arg.lower())
splayers

['ashwin', 'Jadeja', 'rahul', 'rohit', 'virat']

In [ ]:
#list the players whose name contain 'h'

list(filter(lambda arg:'h' in arg,cplayers))

['rahul', 'ashwin', 'rohit']

In [ ]:
#list the players whose name length is >5

list(filter(lambda arg:len(arg)>5,cplayers))

['ashwin', 'Jadeja']

In [ ]:
#map each case to upper case

list(map(lambda item:item.upper(),cplayers))

['VIRAT', 'RAHUL', 'ASHWIN', 'ROHIT', 'JADEJA']

In [ ]:
#map each name to (name,length)
#virat ->(virat,5)

list(map(lambda name:(name,len(name)),cplayers))

[('virat', 5), ('rahul', 5), ('ashwin', 6), ('rohit', 5), ('Jadeja', 6)]

In [ ]:
#Reduce all cricket players names to a single string

from functools import reduce
reduce(lambda a,b:a+b,cplayers)

'viratrahulashwinrohitJadeja'

In [ ]:
l1=[1,3,5,2,6]
reduce(max,l1)

6

In [ ]:
#Find the cricket player with maximum length

l1=list(map(lambda name:(len(name),name),cplayers))
l1.sort(reverse=True)
print(l1)
l2=list(filter(lambda x:(x[0]==l1[0][0]),l1))
print(l2)
l3=list(map(lambda w:(w[1],w[0]),l2))
print(l3)
l3.sort()
print(l3)
print(l3[0][0])

[(6, 'ashwin'), (6, 'Jadeja'), (5, 'virat'), (5, 'rohit'), (5, 'rahul')]
[(6, 'ashwin'), (6, 'Jadeja')]
[('ashwin', 6), ('Jadeja', 6)]
[('Jadeja', 6), ('ashwin', 6)]
Jadeja

In [ ]:
# INTERACTIVE PTYHON NOTEBOOK
# DAY-02
#python install packager
# ! define as python as commands

!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=5ce7893ff656a851757320759f5d133fd7c16a27097a3d94d9165e391ab18efa
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
from pyspark import SparkContext
sc=SparkContext.getOrCreate()

In [ ]:
# range(1000) means 0,1,2,3,.....,999

rdd=sc.parallelize(range(1000))
print(rdd.take(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
odd=rdd.filter(lambda n:n%2!=0)
print(odd.take(15))
even=rdd.filter(lambda n:n%2==0)
even.take(15)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
blog=sc.textFile('/content/sample_data/blogtt.txt')
blog.take(5)
#or we can use blog.collect() for whole text file

['Think of it for a moment – 1 Qunitillion = 1 Million Billion! Can you imagine how many drives / CDs / Blue-ray DVDs would be required to store them? It is difficult to imagine this scale of data generation even as a data science professional. While this pace of data generation is very exciting,  it has created entirely new set of challenges and has forced us to find new ways to handle Big Huge data effectively.',
 '',
 '',
 'Big Data is not a new phenomena. It has been around for a while now. However, it has become really important with this pace of data generation. In past, several systems were developed for processing big data. Most of them were based on MapReduce framework. These frameworks typically rely on use of hard disk for saving and retrieving the results. However, this turns out to be very costly in terms of time and speed.',
 '']

In [ ]:
#Filter blank lines from RDD and create another stripped RDD
# it was used to remove blank lines from text file
srdd=blog.filter(lambda l:l.strip())
srdd.take(5)

['Think of it for a moment – 1 Qunitillion = 1 Million Billion! Can you imagine how many drives / CDs / Blue-ray DVDs would be required to store them? It is difficult to imagine this scale of data generation even as a data science professional. While this pace of data generation is very exciting,  it has created entirely new set of challenges and has forced us to find new ways to handle Big Huge data effectively.',
 'Big Data is not a new phenomena. It has been around for a while now. However, it has become really important with this pace of data generation. In past, several systems were developed for processing big data. Most of them were based on MapReduce framework. These frameworks typically rely on use of hard disk for saving and retrieving the results. However, this turns out to be very costly in terms of time and speed.',
 'On the other hand, Organizations have never been more hungrier to add a competitive differentiation through understanding this data and offering its customer a much better experience. Imagine how valuable would be Facebook, if it did not understand your interests well? The traditional hard disk based MapReduce kind of frameworks do not help much to address this challenge.',
 'In this article, I will introduce you to one such framework, which has made querying and analysing data at a large scale much more efficient than previous systems / frameworks – Read on!',
 'P.S. This article is meant for complete beginners on the topic and presumes minimal prior knowledge in Big Data']

In [ ]:
#to print the number of lines

print(blog.count(),srdd.count())

648 259

In [ ]:
#Map each lines to list of words (use map and flatMap)

wrdd=srdd.flatMap(lambda l:l.split(' '))
wrdd.take(5)

['Think', 'of', 'it', 'for', 'a']

In [ ]:
#group each word by first letter

grdd=wrdd.groupBy(lambda w:w[0:1])
grdd.take(5)

[('i', <pyspark.resultiterable.ResultIterable at 0x7fb7dea46230>),
 ('1', <pyspark.resultiterable.ResultIterable at 0x7fb7dea47250>),
 ('=', <pyspark.resultiterable.ResultIterable at 0x7fb7dea462f0>),
 ('C', <pyspark.resultiterable.ResultIterable at 0x7fb7dea44e80>),
 ('y', <pyspark.resultiterable.ResultIterable at 0x7fb7dea45600>)]

In [ ]:
#Reverse count and letter
rgrdd=grdd.map(lambda w:(len(w[1]),w[0]))
rgrdd.take(5)

[(357, 'i'), (18, '1'), (41, '='), (25, 'C'), (35, 'y')]

In [ ]:
#Sort by count in reverse order

srgdd=rgrdd.sortByKey(False)
srgdd.take(5)

[(672, 't'), (507, 'a'), (357, 'i'), (303, 'c'), (277, 's')]

In [ ]:
stopwords=["in","on","for","the","a","to","of","and","is"]
stwrdd=wrdd.filter(lambda w:w not in stopwords)
stwrdd.count(),wrdd.count()

(4300, 5281)

In [ ]:
import string
pstpwrdd=stwrdd.map(lambda w:w.translate(str.maketrans('','',string.punctuation)))
stwrdd.count(),pstpwrd.count()

(4300, 4300)

In [ ]:
#group and sort

grdd=pstpwrdd.groupBy(lambda w:w)
mrdd=grdd.map(lambda x:(len(x[1]),x[0]))
srdd=mrdd.sortByKey(False)
srdd.take(10)

[(118, ''),
 (86, 'Spark'),
 (73, 'we'),
 (69, 'data'),
 (54, 'can'),
 (51, 'this'),
 (50, 'are'),
 (50, 'Apache'),
 (41, 'RDD'),
 (39, 'which')]

In [ ]:
#demostrate sampling of RDDs
samplerdd=pstpwrdd.sample(False,0.5,42)
pstpwrdd.count(),samplerdd.count()

(4300, 2127)

In [ ]:
samplerdd1=pstpwrdd.sample(True,0.3,42)#30% random samples
samplerdd2=pstpwrdd.sample(True,0.3,43)#30%
usample=samplerdd1.union(samplerdd2)
isample=samplerdd1.intersection(samplerdd2)
d1sample=samplerdd1.subtract(samplerdd2)
d2sample=samplerdd2.subtract(samplerdd1)
samplerdd1.count(),samplerdd2.count(),usample.count(),isample.count(),d1sample.count(),d2sample.count()

(1287, 1260, 2547, 316, 331, 317)

In [ ]:
rdd=sc.textFile('/content/sample_data/u.user.txt')

rdd.take(5)

['1|24|M|technician|85711',
 '2|53|F|other|94043',
 '3|23|M|writer|32067',
 '4|24|M|technician|43537',
 '5|33|F|other|15213']

In [ ]:
grdd=rdd.groupBy(lambda l:l.split('|')[2])
grdd.take(5)
rgrdd=grdd.map(lambda l:(len(l[1]),l[0]))
rgrdd.take(5)

[(670, 'M'), (273, 'F')]

In [ ]:
grdd=rdd.groupBy(lambda l:l.split('|')[3])
grdd.take(5)
rgrdd=grdd.map(lambda l:(len(l[1]),l[0]))
rgrdd=rgrdd.sortByKey(False)
rrgrdd=rgrdd.map(lambda l:(l[1],l[0]))
rrgrdd.take(10)

[('student', 196),
 ('other', 105),
 ('educator', 95),
 ('administrator', 79),
 ('engineer', 67),
 ('programmer', 66),
 ('librarian', 51),
 ('writer', 45),
 ('executive', 32),
 ('scientist', 31)]

In [ ]:
# find average age of users
agerdd=rdd.map(lambda l:int(l.split('|')[1]))
average=agerdd.mean()
filterbyage=rdd.filter(lambda l:float(l.split('|')[1])>average)
filterbyage.take(5)
rdd.count(),filterbyage.count()

(943, 399)

In [ ]:
# DAY-03
# Structured dats using CSV(comma separated values)

!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=38706f7c9f51918cacd8af5a7de4f95c64eb6cea9ac911cc010d8995f5d45ee6
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
from pyspark.sql.session import SparkSession
sess=SparkSession.builder.getOrCreate()
train=sess.read.csv('/content/sample_data/train - train.csv',header=True)
train.count()
train.printSchema()
train.columns

root
 |-- User_ID: string (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Product_Category_1: string (nullable = true)
 |-- Product_Category_2: string (nullable = true)
 |-- Product_Category_3: string (nullable = true)
 |-- Purchase: string (nullable = true)

['User_ID',
 'Product_ID',
 'Gender',
 'Age',
 'Occupation',
 'City_Category',
 'Stay_In_Current_City_Years',
 'Marital_Status',
 'Product_Category_1',
 'Product_Category_2',
 'Product_Category_3',
 'Purchase']

In [ ]:
# Find distinct products

train.select('Product_ID').distinct().count()
train.select('Product_ID').distinct().show(5)

+----------+
|Product_ID|
+----------+
|  P0098242|
| P00281742|
| P00026042|
| P00015342|
| P00159842|
+----------+
only showing top 5 rows

In [ ]:
# get descriptive statistics of purchase column

train.select('Purchase').describe().show()

+-------+-----------------+
|summary|         Purchase|
+-------+-----------------+
|  count|           550068|
|   mean|9263.968712959126|
| stddev|5023.065393820575|
|    min|            10000|
|    max|             9999|
+-------+-----------------+

In [ ]:
#making our owm schema

import pyspark.sql.types as typ
labels=[
    ('User_ID',typ.StringType()),
    ('Product_ID',typ.StringType()),
    ('Gender',typ.StringType()),
    ('Age',typ.StringType()),
    ('Occupation',typ.IntegerType()),
    ('City_Category',typ.StringType()),
    ('Stay_In_Current_City_Years',typ.StringType()),
    ('Marital_Status',typ.IntegerType()),
    ('Product_Category_1',typ.StringType()),
    ('Product_Category_2',typ.StringType()),
    ('Product_Category_3',typ.StringType()),
    ('Purchase',typ.IntegerType())
]
s=typ.StructType([
    typ.StructField(e[0],e[1],False) for e in labels
])
train=sess.read.csv('/content/sample_data/train - train.csv',header=True,schema=s)
train.printSchema()

root
 |-- User_ID: string (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: string (nullable = true)
 |-- Product_Category_2: string (nullable = true)
 |-- Product_Category_3: string (nullable = true)
 |-- Purchase: integer (nullable = true)

In [ ]:
train.select('Purchase').describe().show()

+-------+-----------------+
|summary|         Purchase|
+-------+-----------------+
|  count|           550068|
|   mean|9263.968712959126|
| stddev|5023.065393820575|
|    min|               12|
|    max|            23961|
+-------+-----------------+

In [ ]:
# find the transactions whose purchase amt exceeds 15000

train.filter(train.Purchase>15000).show()

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00248942|     F| 0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000003| P00193542|     M|26-35|        15|            A|                         3|             0|                 1|                 2|              null|   15227|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|   19215|
|1000004| P00346142|     M|46-50|         7|            B|                         2|             1|                 1|                15|              null|   15854|
|1000004|  P0097242|     M|46-50|         7|            B|                         2|             1|                 1|                16|              null|   15686|
|1000005| P00145042|     M|26-35|        20|            A|                         1|             1|                 1|                 2|                 5|   15665|
|1000008| P00249542|     M|26-35|        12|            C|                        4+|             1|                 1|                 5|                15|   19614|
|1000009| P00135742|     M|26-35|        17|            C|                         0|             0|                 6|                 8|              null|   16662|
|1000010| P00085942|     F|36-45|         1|            B|                        4+|             1|                 2|                 4|                 8|   16352|
|1000010| P00155442|     F|36-45|         1|            B|                        4+|             1|                 1|                11|                15|   15212|
|1000010| P00221342|     F|36-45|         1|            B|                        4+|             1|                 1|                 2|                 5|   15705|
|1000010| P00111142|     F|36-45|         1|            B|                        4+|             1|                 1|                15|                16|   18963|
|1000010|  P0094542|     F|36-45|         1|            B|                        4+|             1|                 2|                 4|                 9|   16406|
|1000011| P00110842|     F|26-35|         1|            C|                         1|             0|                 1|                 2|                 5|   19327|
|1000012| P00304242|     M|26-35|        12|            C|                         2|             0|                 1|                 6|              null|   15246|
|1000013| P00140742|     M|46-50|         1|            C|                         3|             1|                 1|                15|              null|   15912|
|1000015| P00334242|     M|26-35|         7|            A|                         1|             0|                 1|                 8|              null|   19653|
|1000017| P00019342|     M|51-55|         1|            C|                         0|             0|                 1|                 6|                15|   15872|
|1000017| P00073842|     M|51-55|         1|            C|                         0|             0|                 1|                15|                17|   15172|
|1000018| P00112642|     F|18-25|         3|            B|                         3|             0|                 1|                 2|                 5|   19473|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 20 rows

In [ ]:
# give me details whose marital status is 1

train.filter(train.Marital_Status==0).count()

324731

In [ ]:
#Get the correlation between age gender: we can identify using crosstab

train.crosstab('Age','Gender').show()

+----------+-----+------+
|Age_Gender|    F|     M|
+----------+-----+------+
|     18-25|24628| 75032|
|     26-35|50752|168835|
|      0-17| 5083| 10019|
|     46-50|13199| 32502|
|     51-55| 9894| 28607|
|     36-45|27170| 82843|
|       55+| 5083| 16421|
+----------+-----+------+

In [ ]:
#Find the mean purchase of each age group
# count the number of records of each group

train.groupBy('Age').agg({'Purchase':'Mean'}).show()
train.groupBy('Age').count().show()

+-----+-----------------+
|  Age|    avg(Purchase)|
+-----+-----------------+
|18-25|9169.663606261289|
|26-35|9252.690632869888|
| 0-17|8933.464640444974|
|46-50|9208.625697468327|
|51-55|9534.808030960236|
|36-45|9331.350694917874|
|  55+|9336.280459449405|
+-----+-----------------+

+-----+------+
|  Age| count|
+-----+------+
|18-25| 99660|
|26-35|219587|
| 0-17| 15102|
|46-50| 45701|
|51-55| 38501|
|36-45|110013|
|  55+| 21504|
+-----+------+

In [ ]:
#Order the train results by current stay in yrs:

from pyspark.sql.functions import col
train.orderBy(col('Stay_In_Current_City_Years').desc()).show()

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1001330| P00085342|     M|  55+|         1|            C|                        4+|             0|                10|                13|              null|   23461|
|1000008| P00156442|     M|26-35|        12|            C|                        4+|             1|                 8|              null|              null|    9872|
|1001333| P00071242|     M|26-35|        17|            A|                        4+|             0|                 1|                15|                16|    4286|
|1000010| P00312142|     F|36-45|         1|            B|                        4+|             1|                 8|              null|              null|   10007|
|1001331| P00240142|     M|46-50|         0|            C|                        4+|             1|                 5|              null|              null|    6973|
|1000008| P00213742|     M|26-35|        12|            C|                        4+|             1|                 8|              null|              null|    9743|
|1001313| P00363442|     M|18-25|         4|            B|                        4+|             1|                 1|              null|              null|   12095|
|1000010| P00032442|     F|36-45|         1|            B|                        4+|             1|                 5|              null|              null|    5152|
|1001331| P00255842|     M|46-50|         0|            C|                        4+|             1|                16|              null|              null|   16385|
|1000010| P00148642|     F|36-45|         1|            B|                        4+|             1|                 6|                10|                13|   12642|
|1001333| P00010742|     M|26-35|        17|            A|                        4+|             0|                 1|                 8|                17|   15672|
|1000010| P00105942|     F|36-45|         1|            B|                        4+|             1|                 5|              null|              null|    7089|
|1001333| P00245642|     M|26-35|        17|            A|                        4+|             0|                 5|                11|                12|    6892|
|1000008| P00249542|     M|26-35|        12|            C|                        4+|             1|                 1|                 5|                15|   19614|
|1001310| P00178142|     M|46-50|         0|            C|                        4+|             1|                 8|                17|              null|    6039|
|1000010|  P0094542|     F|36-45|         1|            B|                        4+|             1|                 2|                 4|                 9|   16406|
|1001333| P00108142|     M|26-35|        17|            A|                        4+|             0|                11|              null|              null|    3190|
|1000010| P00182642|     F|36-45|         1|            B|                        4+|             1|                 2|                 4|                 9|   12909|
|1001331| P00275142|     M|46-50|         0|            C|                        4+|             1|                 5|                 8|              null|    5463|
|1000008| P00214442|     M|26-35|        12|            C|                        4+|             1|                 8|              null|              null|    5982|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 20 rows

In [ ]:
#Adding a new column to data frame:

train=train.withColumn('gst_pa',train.Purchase*1.18)
train.columns

['User_ID',
 'Product_ID',
 'Gender',
 'Age',
 'Occupation',
 'City_Category',
 'Stay_In_Current_City_Years',
 'Marital_Status',
 'Product_Category_1',
 'Product_Category_2',
 'Product_Category_3',
 'Purchase',
 'gst_pa']

In [ ]:
train.select('Purchase','gst_pa').show(3)

+--------+------------------+
|Purchase|            gst_pa|
+--------+------------------+
|    8370|            9876.6|
|   15200|           17936.0|
|    1422|1677.9599999999998|
+--------+------------------+
only showing top 3 rows

In [ ]:
# drop an existing column

train=train.drop('gst_pa')
train.columns

['User_ID',
 'Product_ID',
 'Gender',
 'Age',
 'Occupation',
 'City_Category',
 'Stay_In_Current_City_Years',
 'Marital_Status',
 'Product_Category_1',
 'Product_Category_2',
 'Product_Category_3',
 'Purchase']

In [ ]:
#Converting data frame to table:

train.createOrReplaceTempView('train_table')

In [ ]:
#sql query

from pyspark import SparkContext,SQLContext
sc=SparkContext.getOrCreate()
sq=SQLContext(sc)
sq.sql("select Age,COUNT(*) AS C from train_table group by age order by c desc").show()

+-----+------+
|  Age|     C|
+-----+------+
|26-35|219587|
|36-45|110013|
|18-25| 99660|
|46-50| 45701|
|51-55| 38501|
|  55+| 21504|
| 0-17| 15102|
+-----+------+

In [ ]:
# read a JSON file

jsondf=sess.read.option("multiline","true").json('/content/sample_data/student.json')
jsondf.show()

+-------+----+--------+---+
|   mode|name|   topic|usn|
+-------+----+--------+---+
| online|  n1|Big data| u1|
|offline|  n2|Big data| u2|
| online|  n3|      AI| u3|
| online|  n4|      AI| u4|
+-------+----+--------+---+

In [ ]:
jsondf.groupBy("topic").count().show()

+--------+-----+
|   topic|count|
+--------+-----+
|      AI|    2|
|Big data|    2|
+--------+-----+

In [ ]:
# Find people who are doing online

jsondf.filter(jsondf.mode=="online").show()

+------+----+--------+---+
|  mode|name|   topic|usn|
+------+----+--------+---+
|online|  n1|Big data| u1|
|online|  n3|      AI| u3|
|online|  n4|      AI| u4|
+------+----+--------+---+

In [ ]:
# convert data frame to rdd and write to csv

ftrain=train.filter(train.Purchase>20000)
frdd=ftrain.rdd
frdd.saveAsTextFile('/context/sample_data/f.txt')

In [1]:
# DAY-04

!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=d3cc9a418316403d82e29c06671c9604b207092fc6cf3db066ba5b5902e6fe3d
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [4]:
#Drop duplicates

from pyspark.sql.session import SparkSession
sess=SparkSession.builder.getOrCreate()
df=sess.createDataFrame([
    (1,144.5,5.9,33,'M'),
    (2,167.2,5.4,45,'M'),
    (3,124.1,5.2,23,'F'),
    (4,144.5,5.9,33,'M'),
    (5,133.2,5.7,54,'F'),
    (3,124.1,5.2,23,'F'),
    (5,129.2,5.3,42,'M'),
],['id','weight','height','age','gender'])

df.show()
df.count()

+---+------+------+---+------+
| id|weight|height|age|gender|
+---+------+------+---+------+
|  1| 144.5|   5.9| 33|     M|
|  2| 167.2|   5.4| 45|     M|
|  3| 124.1|   5.2| 23|     F|
|  4| 144.5|   5.9| 33|     M|
|  5| 133.2|   5.7| 54|     F|
|  3| 124.1|   5.2| 23|     F|
|  5| 129.2|   5.3| 42|     M|
+---+------+------+---+------+

7

In [5]:
df=df.dropDuplicates(subset=[c for c in df.columns if c!='id' ])
df.show()

+---+------+------+---+------+
| id|weight|height|age|gender|
+---+------+------+---+------+
|  1| 144.5|   5.9| 33|     M|
|  2| 167.2|   5.4| 45|     M|
|  3| 124.1|   5.2| 23|     F|
|  5| 133.2|   5.7| 54|     F|
|  5| 129.2|   5.3| 42|     M|
+---+------+------+---+------+

In [8]:
df=df.drop('id')
df.show()

+------+------+---+------+
|weight|height|age|gender|
+------+------+---+------+
| 144.5|   5.9| 33|     M|
| 167.2|   5.4| 45|     M|
| 124.1|   5.2| 23|     F|
| 133.2|   5.7| 54|     F|
| 129.2|   5.3| 42|     M|
+------+------+---+------+

In [9]:
#recreating id with automatic increaser

import pyspark.sql.functions as fn
df=df.withColumn('id',fn.monotonically_increasing_id()+1)
df.show()

+------+------+---+------+---+
|weight|height|age|gender| id|
+------+------+---+------+---+
| 144.5|   5.9| 33|     M|  1|
| 167.2|   5.4| 45|     M|  2|
| 124.1|   5.2| 23|     F|  3|
| 133.2|   5.7| 54|     F|  4|
| 129.2|   5.3| 42|     M|  5|
+------+------+---+------+---+

In [10]:
#ordering as per our requirements

df=df.select('id','height','weight','age','gender')
df.show()

+---+------+------+---+------+
| id|height|weight|age|gender|
+---+------+------+---+------+
|  1|   5.9| 144.5| 33|     M|
|  2|   5.4| 167.2| 45|     M|
|  3|   5.2| 124.1| 23|     F|
|  4|   5.7| 133.2| 54|     F|
|  5|   5.3| 129.2| 42|     M|
+---+------+------+---+------+

In [17]:
df_miss = sess.createDataFrame([
        (1, 143.5, 5.6, 28,   'M',  100000),
        (2, 167.2, 5.4, 45,   'M',  None),
        (3, None , 5.2, None, None, None),
        (4, 144.5, 5.9, 33,   'M',  None),
        (5, 133.2, 5.7, 54,   'F',  None),
        (6, 124.1, 5.2, None, 'F',  None),
        (7, 129.2, 5.3, 42,   'M',  76000),
    ], ['id', 'weight', 'height', 'age', 'gender', 'income'])
# replacing blank data with meaning data is called imputing

df_miss.show()

+---+------+------+----+------+------+
| id|weight|height| age|gender|income|
+---+------+------+----+------+------+
|  1| 143.5|   5.6|  28|     M|100000|
|  2| 167.2|   5.4|  45|     M|  null|
|  3|  null|   5.2|null|  null|  null|
|  4| 144.5|   5.9|  33|     M|  null|
|  5| 133.2|   5.7|  54|     F|  null|
|  6| 124.1|   5.2|null|     F|  null|
|  7| 129.2|   5.3|  42|     M| 76000|
+---+------+------+----+------+------+

In [15]:
df_miss.agg(*[
    (1-(fn.count(c)/fn.count('*'))).alias(c+'_missing')
    for c in df_miss.columns
]).show()

+----------+------------------+--------------+------------------+------------------+------------------+
|id_missing|    weight_missing|height_missing|       age_missing|    gender_missing|    income_missing|
+----------+------------------+--------------+------------------+------------------+------------------+
|       0.0|0.1428571428571429|           0.0|0.2857142857142857|0.1428571428571429|0.7142857142857143|
+----------+------------------+--------------+------------------+------------------+------------------+

In [19]:
# if row contain more than 3 NULL values delete it

df_miss=df_miss.drop('income')
df_miss=df_miss.dropna(thresh=3)
df_miss.show()

+---+------+------+----+------+
| id|weight|height| age|gender|
+---+------+------+----+------+
|  1| 143.5|   5.6|  28|     M|
|  2| 167.2|   5.4|  45|     M|
|  4| 144.5|   5.9|  33|     M|
|  5| 133.2|   5.7|  54|     F|
|  6| 124.1|   5.2|null|     F|
|  7| 129.2|   5.3|  42|     M|
+---+------+------+----+------+

In [22]:
#replace null with average if that row

avgdf=df_miss.agg({'age':'mean'})
avgage=avgdf.collect()[0][0]
avgage
avgdf.show()
avgdf.collect()[0]

+--------+
|avg(age)|
+--------+
|    40.4|
+--------+

Row(avg(age)=40.4)

In [23]:
#replacing null

df_miss=df_miss.fillna(avgage)
df_miss.show()

+---+------+------+---+------+
| id|weight|height|age|gender|
+---+------+------+---+------+
|  1| 143.5|   5.6| 28|     M|
|  2| 167.2|   5.4| 45|     M|
|  4| 144.5|   5.9| 33|     M|
|  5| 133.2|   5.7| 54|     F|
|  6| 124.1|   5.2| 40|     F|
|  7| 129.2|   5.3| 42|     M|
+---+------+------+---+------+

In [24]:
#Define schema for boston csv
import pyspark.sql.types as typ
labels=[
        ('crim',typ.DoubleType()),
        ('zn',typ.DoubleType()),
        ('indus',typ.DoubleType()),
        ('chas',typ.DoubleType()),
        ('nox',typ.DoubleType()),
        ('rm',typ.DoubleType()),
        ('age',typ.DoubleType()),
        ('dis',typ.DoubleType()),
        ('rad',typ.DoubleType()),
        ('tax',typ.DoubleType()),
        ('ptratio',typ.DoubleType()),
        ('black',typ.DoubleType()),
        ('lstat',typ.DoubleType()),
        ('medv',typ.DoubleType())

        ]
schema = typ.StructType([
typ.StructField(e[0], e[1], False) for e in labels
])

In [28]:
#reading boston csv

from pyspark.sql.session import SparkSession
sess=SparkSession.builder.getOrCreate()
boston=sess.read.csv("/content/sample_data/Boston - Boston.csv",header=True,schema=schema)

boston.count()
boston.printSchema()
len(boston.columns)

root
 |-- crim: double (nullable = true)
 |-- zn: double (nullable = true)
 |-- indus: double (nullable = true)
 |-- chas: double (nullable = true)
 |-- nox: double (nullable = true)
 |-- rm: double (nullable = true)
 |-- age: double (nullable = true)
 |-- dis: double (nullable = true)
 |-- rad: double (nullable = true)
 |-- tax: double (nullable = true)
 |-- ptratio: double (nullable = true)
 |-- black: double (nullable = true)
 |-- lstat: double (nullable = true)
 |-- medv: double (nullable = true)

14

In [29]:
#Drop duplicates and null values

boston.count(),boston.dropDuplicates().count(),boston.dropna().count()

(506, 506, 506)

In [31]:
boston.show(3)

+-------+----+-----+----+-----+-----+----+------+---+-----+-------+------+-----+----+
|   crim|  zn|indus|chas|  nox|   rm| age|   dis|rad|  tax|ptratio| black|lstat|medv|
+-------+----+-----+----+-----+-----+----+------+---+-----+-------+------+-----+----+
|0.00632|18.0| 2.31| 0.0|0.538|6.575|65.2|  4.09|1.0|296.0|   15.3| 396.9| 4.98|24.0|
|0.02731| 0.0| 7.07| 0.0|0.469|6.421|78.9|4.9671|2.0|242.0|   17.8| 396.9| 9.14|21.6|
|0.02729| 0.0| 7.07| 0.0|0.469|7.185|61.1|4.9671|2.0|242.0|   17.8|392.83| 4.03|34.7|
+-------+----+-----+----+-----+-----+----+------+---+-----+-------+------+-----+----+
only showing top 3 rows

In [30]:
#Compute mean and variance stastics

import pyspark.mllib.stat as st
numeric_rdd=boston.rdd
numeric_rdd=numeric_rdd.map(lambda row:[e for e in row])
numeric_rdd.take(3)

[[0.00632,
  18.0,
  2.31,
  0.0,
  0.538,
  6.575,
  65.2,
  4.09,
  1.0,
  296.0,
  15.3,
  396.9,
  4.98,
  24.0],
 [0.02731,
  0.0,
  7.07,
  0.0,
  0.469,
  6.421,
  78.9,
  4.9671,
  2.0,
  242.0,
  17.8,
  396.9,
  9.14,
  21.6],
 [0.02729,
  0.0,
  7.07,
  0.0,
  0.469,
  7.185,
  61.1,
  4.9671,
  2.0,
  242.0,
  17.8,
  392.83,
  4.03,
  34.7]]

In [32]:
mllib_stats = st.Statistics.colStats(numeric_rdd)
mllib_stats.mean(), mllib_stats.variance()

(array([3.61352356e+00, 1.13636364e+01, 1.11367787e+01, 6.91699605e-02,
        5.54695059e-01, 6.28463439e+00, 6.85749012e+01, 3.79504269e+00,
        9.54940711e+00, 4.08237154e+02, 1.84555336e+01, 3.56674032e+02,
        1.26530632e+01, 2.25328063e+01]),
 array([7.39865782e+01, 5.43936814e+02, 4.70644425e+01, 6.45129730e-02,
        1.34276357e-02, 4.93670850e-01, 7.92358399e+02, 4.43401514e+00,
        7.58163660e+01, 2.84047595e+04, 4.68698912e+00, 8.33475226e+03,
        5.09947595e+01, 8.45867236e+01]))

In [33]:
# computing correlation matrix

corrs=st.Statistics.corr(numeric_rdd)

In [37]:
len(corrs)
corrs
corrs[-1]

array([-0.38830461,  0.36044534, -0.48372516,  0.17526018, -0.42732077,
        0.69535995, -0.37695457,  0.24992873, -0.38162623, -0.46853593,
       -0.50778669,  0.33346082, -0.73766273,  1.        ])

In [41]:
#Filter columns based on threshold value of correlation
#for example cut off as >=0.4
# consider:indus,nox,rm,tax,ptratio,lstat
#Form input feature vectors and output variable (target variable)
from pyspark.ml.feature import VectorAssembler
vectorAssembler = VectorAssembler(inputCols = ['crim','zn','indus','nox','rm',
'rad',
'tax',
'ptratio',
'lstat'], outputCol = 'features')
boston_vector = vectorAssembler.transform(boston)
boston_vector.show(3,truncate=False)

+-------+----+-----+----+-----+-----+----+------+---+-----+-------+------+-----+----+---------------------------------------------------+
|crim   |zn  |indus|chas|nox  |rm   |age |dis   |rad|tax  |ptratio|black |lstat|medv|features                                           |
+-------+----+-----+----+-----+-----+----+------+---+-----+-------+------+-----+----+---------------------------------------------------+
|0.00632|18.0|2.31 |0.0 |0.538|6.575|65.2|4.09  |1.0|296.0|15.3   |396.9 |4.98 |24.0|[0.00632,18.0,2.31,0.538,6.575,1.0,296.0,15.3,4.98]|
|0.02731|0.0 |7.07 |0.0 |0.469|6.421|78.9|4.9671|2.0|242.0|17.8   |396.9 |9.14 |21.6|[0.02731,0.0,7.07,0.469,6.421,2.0,242.0,17.8,9.14] |
|0.02729|0.0 |7.07 |0.0 |0.469|7.185|61.1|4.9671|2.0|242.0|17.8   |392.83|4.03 |34.7|[0.02729,0.0,7.07,0.469,7.185,2.0,242.0,17.8,4.03] |
+-------+----+-----+----+-----+-----+----+------+---+-----+-------+------+-----+----+---------------------------------------------------+
only showing top 3 rows

In [42]:
boston_vector.select(['features','medv']).show(3,truncate=False)

+---------------------------------------------------+----+
|features                                           |medv|
+---------------------------------------------------+----+
|[0.00632,18.0,2.31,0.538,6.575,1.0,296.0,15.3,4.98]|24.0|
|[0.02731,0.0,7.07,0.469,6.421,2.0,242.0,17.8,9.14] |21.6|
|[0.02729,0.0,7.07,0.469,7.185,2.0,242.0,17.8,4.03] |34.7|
+---------------------------------------------------+----+
only showing top 3 rows

In [44]:
#Split into training and test data frames
splits=boston_vector.randomSplit([0.7, 0.3])
boston_train=splits[0]
boston_test=splits[1]
boston_train.count(), boston_test.count()

(342, 164)

In [45]:
#Apply Linear Regression model
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(featuresCol = 'features', labelCol='medv', maxIter=10, regParam=0.3, elasticNetParam=0.8)
lr_model = lr.fit(boston_train)
print("Weights: " + str(lr_model.coefficients))
print("Bias: " + str(lr_model.intercept))

Weights: [-0.035062599919979696,0.0,0.0,0.0,4.730092879441258,0.0,0.0,-0.8351409819210796,-0.5148362343080108]
Bias: 14.831869874350472

In [46]:
# Perform predictions
lr_predictions = lr_model.transform(boston_test)
lr_predictions.select("prediction","medv","features").show(5)

+------------------+----+--------------------+
|        prediction|medv|            features|
+------------------+----+--------------------+
|30.590467490798837|24.0|[0.00632,18.0,2.3...|
|31.539329073964424|32.2|[0.00906,90.0,2.9...|
| 33.31088010383194|32.7|[0.01301,35.0,1.5...|
| 31.69446762332634|35.4|[0.01311,90.0,1.2...|
| 17.44112891084834|18.9|[0.0136,75.0,4.0,...|
+------------------+----+--------------------+
only showing top 5 rows

In [47]:
# Evaluate prediction accuracy (R2)
from pyspark.ml.evaluation import RegressionEvaluator
lr_evaluator = RegressionEvaluator(predictionCol="prediction", \
                 labelCol="medv",metricName="r2")
print(lr_evaluator.evaluate(lr_predictions))

0.6330504133035548