<a href="https://colab.research.google.com/github/sreeharsha243/BigData/blob/main/Bigdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# DAY-01

#create a list of cricket player names and sort them

cplayers=["virat","rahul","ashwin","rohit","Jadeja"]
splayers=sorted(cplayers,key=lambda arg:arg.lower())
splayers

['ashwin', 'Jadeja', 'rahul', 'rohit', 'virat']

In [ ]:
#list the players whose name contain 'h'

list(filter(lambda arg:'h' in arg,cplayers))

['rahul', 'ashwin', 'rohit']

In [ ]:
#list the players whose name length is >5

list(filter(lambda arg:len(arg)>5,cplayers))

['ashwin', 'Jadeja']

In [ ]:
#map each case to upper case

list(map(lambda item:item.upper(),cplayers))

['VIRAT', 'RAHUL', 'ASHWIN', 'ROHIT', 'JADEJA']

In [ ]:
#map each name to (name,length)
#virat ->(virat,5)

list(map(lambda name:(name,len(name)),cplayers))

[('virat', 5), ('rahul', 5), ('ashwin', 6), ('rohit', 5), ('Jadeja', 6)]

In [ ]:
#Reduce all cricket players names to a single string

from functools import reduce
reduce(lambda a,b:a+b,cplayers)

'viratrahulashwinrohitJadeja'

In [ ]:
l1=[1,3,5,2,6]
reduce(max,l1)

6

In [ ]:
#Find the cricket player with maximum length

l1=list(map(lambda name:(len(name),name),cplayers))
l1.sort(reverse=True)
print(l1)
l2=list(filter(lambda x:(x[0]==l1[0][0]),l1))
print(l2)
l3=list(map(lambda w:(w[1],w[0]),l2))
print(l3)
l3.sort()
print(l3)
print(l3[0][0])

[(6, 'ashwin'), (6, 'Jadeja'), (5, 'virat'), (5, 'rohit'), (5, 'rahul')]
[(6, 'ashwin'), (6, 'Jadeja')]
[('ashwin', 6), ('Jadeja', 6)]
[('Jadeja', 6), ('ashwin', 6)]
Jadeja

In [ ]:
# INTERACTIVE PTYHON NOTEBOOK
# DAY-02
#python install packager
# ! define as python as commands

!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=5ce7893ff656a851757320759f5d133fd7c16a27097a3d94d9165e391ab18efa
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
from pyspark import SparkContext
sc=SparkContext.getOrCreate()

In [ ]:
# range(1000) means 0,1,2,3,.....,999

rdd=sc.parallelize(range(1000))
print(rdd.take(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
odd=rdd.filter(lambda n:n%2!=0)
print(odd.take(15))
even=rdd.filter(lambda n:n%2==0)
even.take(15)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [ ]:
blog=sc.textFile('/content/sample_data/blogtt.txt')
blog.take(5)
#or we can use blog.collect() for whole text file

['Think of it for a moment – 1 Qunitillion = 1 Million Billion! Can you imagine how many drives / CDs / Blue-ray DVDs would be required to store them? It is difficult to imagine this scale of data generation even as a data science professional. While this pace of data generation is very exciting,  it has created entirely new set of challenges and has forced us to find new ways to handle Big Huge data effectively.',
 '',
 '',
 'Big Data is not a new phenomena. It has been around for a while now. However, it has become really important with this pace of data generation. In past, several systems were developed for processing big data. Most of them were based on MapReduce framework. These frameworks typically rely on use of hard disk for saving and retrieving the results. However, this turns out to be very costly in terms of time and speed.',
 '']

In [ ]:
#Filter blank lines from RDD and create another stripped RDD
# it was used to remove blank lines from text file
srdd=blog.filter(lambda l:l.strip())
srdd.take(5)

['Think of it for a moment – 1 Qunitillion = 1 Million Billion! Can you imagine how many drives / CDs / Blue-ray DVDs would be required to store them? It is difficult to imagine this scale of data generation even as a data science professional. While this pace of data generation is very exciting,  it has created entirely new set of challenges and has forced us to find new ways to handle Big Huge data effectively.',
 'Big Data is not a new phenomena. It has been around for a while now. However, it has become really important with this pace of data generation. In past, several systems were developed for processing big data. Most of them were based on MapReduce framework. These frameworks typically rely on use of hard disk for saving and retrieving the results. However, this turns out to be very costly in terms of time and speed.',
 'On the other hand, Organizations have never been more hungrier to add a competitive differentiation through understanding this data and offering its customer a much better experience. Imagine how valuable would be Facebook, if it did not understand your interests well? The traditional hard disk based MapReduce kind of frameworks do not help much to address this challenge.',
 'In this article, I will introduce you to one such framework, which has made querying and analysing data at a large scale much more efficient than previous systems / frameworks – Read on!',
 'P.S. This article is meant for complete beginners on the topic and presumes minimal prior knowledge in Big Data']

In [ ]:
#to print the number of lines

print(blog.count(),srdd.count())

648 259

In [ ]:
#Map each lines to list of words (use map and flatMap)

wrdd=srdd.flatMap(lambda l:l.split(' '))
wrdd.take(5)

['Think', 'of', 'it', 'for', 'a']

In [ ]:
#group each word by first letter

grdd=wrdd.groupBy(lambda w:w[0:1])
grdd.take(5)

[('i', <pyspark.resultiterable.ResultIterable at 0x7fb7dea46230>),
 ('1', <pyspark.resultiterable.ResultIterable at 0x7fb7dea47250>),
 ('=', <pyspark.resultiterable.ResultIterable at 0x7fb7dea462f0>),
 ('C', <pyspark.resultiterable.ResultIterable at 0x7fb7dea44e80>),
 ('y', <pyspark.resultiterable.ResultIterable at 0x7fb7dea45600>)]

In [ ]:
#Reverse count and letter
rgrdd=grdd.map(lambda w:(len(w[1]),w[0]))
rgrdd.take(5)

[(357, 'i'), (18, '1'), (41, '='), (25, 'C'), (35, 'y')]

In [ ]:
#Sort by count in reverse order

srgdd=rgrdd.sortByKey(False)
srgdd.take(5)

[(672, 't'), (507, 'a'), (357, 'i'), (303, 'c'), (277, 's')]

In [ ]:
stopwords=["in","on","for","the","a","to","of","and","is"]
stwrdd=wrdd.filter(lambda w:w not in stopwords)
stwrdd.count(),wrdd.count()

(4300, 5281)

In [ ]:
import string
pstpwrdd=stwrdd.map(lambda w:w.translate(str.maketrans('','',string.punctuation)))
stwrdd.count(),pstpwrd.count()

(4300, 4300)

In [ ]:
#group and sort

grdd=pstpwrdd.groupBy(lambda w:w)
mrdd=grdd.map(lambda x:(len(x[1]),x[0]))
srdd=mrdd.sortByKey(False)
srdd.take(10)

[(118, ''),
 (86, 'Spark'),
 (73, 'we'),
 (69, 'data'),
 (54, 'can'),
 (51, 'this'),
 (50, 'are'),
 (50, 'Apache'),
 (41, 'RDD'),
 (39, 'which')]

In [ ]:
#demostrate sampling of RDDs
samplerdd=pstpwrdd.sample(False,0.5,42)
pstpwrdd.count(),samplerdd.count()

(4300, 2127)

In [ ]:
samplerdd1=pstpwrdd.sample(True,0.3,42)#30% random samples
samplerdd2=pstpwrdd.sample(True,0.3,43)#30%
usample=samplerdd1.union(samplerdd2)
isample=samplerdd1.intersection(samplerdd2)
d1sample=samplerdd1.subtract(samplerdd2)
d2sample=samplerdd2.subtract(samplerdd1)
samplerdd1.count(),samplerdd2.count(),usample.count(),isample.count(),d1sample.count(),d2sample.count()

(1287, 1260, 2547, 316, 331, 317)

In [ ]:
rdd=sc.textFile('/content/sample_data/u.user.txt')

rdd.take(5)

['1|24|M|technician|85711',
 '2|53|F|other|94043',
 '3|23|M|writer|32067',
 '4|24|M|technician|43537',
 '5|33|F|other|15213']

In [ ]:
grdd=rdd.groupBy(lambda l:l.split('|')[2])
grdd.take(5)
rgrdd=grdd.map(lambda l:(len(l[1]),l[0]))
rgrdd.take(5)

[(670, 'M'), (273, 'F')]

In [ ]:
grdd=rdd.groupBy(lambda l:l.split('|')[3])
grdd.take(5)
rgrdd=grdd.map(lambda l:(len(l[1]),l[0]))
rgrdd=rgrdd.sortByKey(False)
rrgrdd=rgrdd.map(lambda l:(l[1],l[0]))
rrgrdd.take(10)

[('student', 196),
 ('other', 105),
 ('educator', 95),
 ('administrator', 79),
 ('engineer', 67),
 ('programmer', 66),
 ('librarian', 51),
 ('writer', 45),
 ('executive', 32),
 ('scientist', 31)]

In [ ]:
# find average age of users
agerdd=rdd.map(lambda l:int(l.split('|')[1]))
average=agerdd.mean()
filterbyage=rdd.filter(lambda l:float(l.split('|')[1])>average)
filterbyage.take(5)
rdd.count(),filterbyage.count()

(943, 399)

In [ ]:
# DAY-03
# Structured dats using CSV(comma separated values)

!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.1 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=38706f7c9f51918cacd8af5a7de4f95c64eb6cea9ac911cc010d8995f5d45ee6
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
from pyspark.sql.session import SparkSession
sess=SparkSession.builder.getOrCreate()
train=sess.read.csv('/content/sample_data/train - train.csv',header=True)
train.count()
train.printSchema()
train.columns

root
 |-- User_ID: string (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Product_Category_1: string (nullable = true)
 |-- Product_Category_2: string (nullable = true)
 |-- Product_Category_3: string (nullable = true)
 |-- Purchase: string (nullable = true)

['User_ID',
 'Product_ID',
 'Gender',
 'Age',
 'Occupation',
 'City_Category',
 'Stay_In_Current_City_Years',
 'Marital_Status',
 'Product_Category_1',
 'Product_Category_2',
 'Product_Category_3',
 'Purchase']

In [ ]:
# Find distinct products

train.select('Product_ID').distinct().count()
train.select('Product_ID').distinct().show(5)

+----------+
|Product_ID|
+----------+
|  P0098242|
| P00281742|
| P00026042|
| P00015342|
| P00159842|
+----------+
only showing top 5 rows

In [ ]:
# get descriptive statistics of purchase column

train.select('Purchase').describe().show()

+-------+-----------------+
|summary|         Purchase|
+-------+-----------------+
|  count|           550068|
|   mean|9263.968712959126|
| stddev|5023.065393820575|
|    min|            10000|
|    max|             9999|
+-------+-----------------+

In [ ]:
#making our owm schema

import pyspark.sql.types as typ
labels=[
    ('User_ID',typ.StringType()),
    ('Product_ID',typ.StringType()),
    ('Gender',typ.StringType()),
    ('Age',typ.StringType()),
    ('Occupation',typ.IntegerType()),
    ('City_Category',typ.StringType()),
    ('Stay_In_Current_City_Years',typ.StringType()),
    ('Marital_Status',typ.IntegerType()),
    ('Product_Category_1',typ.StringType()),
    ('Product_Category_2',typ.StringType()),
    ('Product_Category_3',typ.StringType()),
    ('Purchase',typ.IntegerType())
]
s=typ.StructType([
    typ.StructField(e[0],e[1],False) for e in labels
])
train=sess.read.csv('/content/sample_data/train - train.csv',header=True,schema=s)
train.printSchema()

root
 |-- User_ID: string (nullable = true)
 |-- Product_ID: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Occupation: integer (nullable = true)
 |-- City_Category: string (nullable = true)
 |-- Stay_In_Current_City_Years: string (nullable = true)
 |-- Marital_Status: integer (nullable = true)
 |-- Product_Category_1: string (nullable = true)
 |-- Product_Category_2: string (nullable = true)
 |-- Product_Category_3: string (nullable = true)
 |-- Purchase: integer (nullable = true)

In [ ]:
train.select('Purchase').describe().show()

+-------+-----------------+
|summary|         Purchase|
+-------+-----------------+
|  count|           550068|
|   mean|9263.968712959126|
| stddev|5023.065393820575|
|    min|               12|
|    max|            23961|
+-------+-----------------+

In [ ]:
# find the transactions whose purchase amt exceeds 15000

train.filter(train.Purchase>15000).show()

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1000001| P00248942|     F| 0-17|        10|            A|                         2|             0|                 1|                 6|                14|   15200|
|1000003| P00193542|     M|26-35|        15|            A|                         3|             0|                 1|                 2|              null|   15227|
|1000004| P00184942|     M|46-50|         7|            B|                         2|             1|                 1|                 8|                17|   19215|
|1000004| P00346142|     M|46-50|         7|            B|                         2|             1|                 1|                15|              null|   15854|
|1000004|  P0097242|     M|46-50|         7|            B|                         2|             1|                 1|                16|              null|   15686|
|1000005| P00145042|     M|26-35|        20|            A|                         1|             1|                 1|                 2|                 5|   15665|
|1000008| P00249542|     M|26-35|        12|            C|                        4+|             1|                 1|                 5|                15|   19614|
|1000009| P00135742|     M|26-35|        17|            C|                         0|             0|                 6|                 8|              null|   16662|
|1000010| P00085942|     F|36-45|         1|            B|                        4+|             1|                 2|                 4|                 8|   16352|
|1000010| P00155442|     F|36-45|         1|            B|                        4+|             1|                 1|                11|                15|   15212|
|1000010| P00221342|     F|36-45|         1|            B|                        4+|             1|                 1|                 2|                 5|   15705|
|1000010| P00111142|     F|36-45|         1|            B|                        4+|             1|                 1|                15|                16|   18963|
|1000010|  P0094542|     F|36-45|         1|            B|                        4+|             1|                 2|                 4|                 9|   16406|
|1000011| P00110842|     F|26-35|         1|            C|                         1|             0|                 1|                 2|                 5|   19327|
|1000012| P00304242|     M|26-35|        12|            C|                         2|             0|                 1|                 6|              null|   15246|
|1000013| P00140742|     M|46-50|         1|            C|                         3|             1|                 1|                15|              null|   15912|
|1000015| P00334242|     M|26-35|         7|            A|                         1|             0|                 1|                 8|              null|   19653|
|1000017| P00019342|     M|51-55|         1|            C|                         0|             0|                 1|                 6|                15|   15872|
|1000017| P00073842|     M|51-55|         1|            C|                         0|             0|                 1|                15|                17|   15172|
|1000018| P00112642|     F|18-25|         3|            B|                         3|             0|                 1|                 2|                 5|   19473|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 20 rows

In [ ]:
# give me details whose marital status is 1

train.filter(train.Marital_Status==0).count()

324731

In [ ]:
#Get the correlation between age gender: we can identify using crosstab

train.crosstab('Age','Gender').show()

+----------+-----+------+
|Age_Gender|    F|     M|
+----------+-----+------+
|     18-25|24628| 75032|
|     26-35|50752|168835|
|      0-17| 5083| 10019|
|     46-50|13199| 32502|
|     51-55| 9894| 28607|
|     36-45|27170| 82843|
|       55+| 5083| 16421|
+----------+-----+------+

In [ ]:
#Find the mean purchase of each age group
# count the number of records of each group

train.groupBy('Age').agg({'Purchase':'Mean'}).show()
train.groupBy('Age').count().show()

+-----+-----------------+
|  Age|    avg(Purchase)|
+-----+-----------------+
|18-25|9169.663606261289|
|26-35|9252.690632869888|
| 0-17|8933.464640444974|
|46-50|9208.625697468327|
|51-55|9534.808030960236|
|36-45|9331.350694917874|
|  55+|9336.280459449405|
+-----+-----------------+

+-----+------+
|  Age| count|
+-----+------+
|18-25| 99660|
|26-35|219587|
| 0-17| 15102|
|46-50| 45701|
|51-55| 38501|
|36-45|110013|
|  55+| 21504|
+-----+------+

In [ ]:
#Order the train results by current stay in yrs:

from pyspark.sql.functions import col
train.orderBy(col('Stay_In_Current_City_Years').desc()).show()

+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|User_ID|Product_ID|Gender|  Age|Occupation|City_Category|Stay_In_Current_City_Years|Marital_Status|Product_Category_1|Product_Category_2|Product_Category_3|Purchase|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
|1001330| P00085342|     M|  55+|         1|            C|                        4+|             0|                10|                13|              null|   23461|
|1000008| P00156442|     M|26-35|        12|            C|                        4+|             1|                 8|              null|              null|    9872|
|1001333| P00071242|     M|26-35|        17|            A|                        4+|             0|                 1|                15|                16|    4286|
|1000010| P00312142|     F|36-45|         1|            B|                        4+|             1|                 8|              null|              null|   10007|
|1001331| P00240142|     M|46-50|         0|            C|                        4+|             1|                 5|              null|              null|    6973|
|1000008| P00213742|     M|26-35|        12|            C|                        4+|             1|                 8|              null|              null|    9743|
|1001313| P00363442|     M|18-25|         4|            B|                        4+|             1|                 1|              null|              null|   12095|
|1000010| P00032442|     F|36-45|         1|            B|                        4+|             1|                 5|              null|              null|    5152|
|1001331| P00255842|     M|46-50|         0|            C|                        4+|             1|                16|              null|              null|   16385|
|1000010| P00148642|     F|36-45|         1|            B|                        4+|             1|                 6|                10|                13|   12642|
|1001333| P00010742|     M|26-35|        17|            A|                        4+|             0|                 1|                 8|                17|   15672|
|1000010| P00105942|     F|36-45|         1|            B|                        4+|             1|                 5|              null|              null|    7089|
|1001333| P00245642|     M|26-35|        17|            A|                        4+|             0|                 5|                11|                12|    6892|
|1000008| P00249542|     M|26-35|        12|            C|                        4+|             1|                 1|                 5|                15|   19614|
|1001310| P00178142|     M|46-50|         0|            C|                        4+|             1|                 8|                17|              null|    6039|
|1000010|  P0094542|     F|36-45|         1|            B|                        4+|             1|                 2|                 4|                 9|   16406|
|1001333| P00108142|     M|26-35|        17|            A|                        4+|             0|                11|              null|              null|    3190|
|1000010| P00182642|     F|36-45|         1|            B|                        4+|             1|                 2|                 4|                 9|   12909|
|1001331| P00275142|     M|46-50|         0|            C|                        4+|             1|                 5|                 8|              null|    5463|
|1000008| P00214442|     M|26-35|        12|            C|                        4+|             1|                 8|              null|              null|    5982|
+-------+----------+------+-----+----------+-------------+--------------------------+--------------+------------------+------------------+------------------+--------+
only showing top 20 rows

In [ ]:
#Adding a new column to data frame:

train=train.withColumn('gst_pa',train.Purchase*1.18)
train.columns

['User_ID',
 'Product_ID',
 'Gender',
 'Age',
 'Occupation',
 'City_Category',
 'Stay_In_Current_City_Years',
 'Marital_Status',
 'Product_Category_1',
 'Product_Category_2',
 'Product_Category_3',
 'Purchase',
 'gst_pa']

In [ ]:
train.select('Purchase','gst_pa').show(3)

+--------+------------------+
|Purchase|            gst_pa|
+--------+------------------+
|    8370|            9876.6|
|   15200|           17936.0|
|    1422|1677.9599999999998|
+--------+------------------+
only showing top 3 rows

In [ ]:
# drop an existing column

train=train.drop('gst_pa')
train.columns

['User_ID',
 'Product_ID',
 'Gender',
 'Age',
 'Occupation',
 'City_Category',
 'Stay_In_Current_City_Years',
 'Marital_Status',
 'Product_Category_1',
 'Product_Category_2',
 'Product_Category_3',
 'Purchase']

In [ ]:
#Converting data frame to table:

train.createOrReplaceTempView('train_table')

In [ ]:
#sql query

from pyspark import SparkContext,SQLContext
sc=SparkContext.getOrCreate()
sq=SQLContext(sc)
sq.sql("select Age,COUNT(*) AS C from train_table group by age order by c desc").show()

+-----+------+
|  Age|     C|
+-----+------+
|26-35|219587|
|36-45|110013|
|18-25| 99660|
|46-50| 45701|
|51-55| 38501|
|  55+| 21504|
| 0-17| 15102|
+-----+------+

In [ ]:
# read a JSON file

jsondf=sess.read.option("multiline","true").json('/content/sample_data/student.json')
jsondf.show()

+-------+----+--------+---+
|   mode|name|   topic|usn|
+-------+----+--------+---+
| online|  n1|Big data| u1|
|offline|  n2|Big data| u2|
| online|  n3|      AI| u3|
| online|  n4|      AI| u4|
+-------+----+--------+---+

In [ ]:
jsondf.groupBy("topic").count().show()

+--------+-----+
|   topic|count|
+--------+-----+
|      AI|    2|
|Big data|    2|
+--------+-----+

In [ ]:
# Find people who are doing online

jsondf.filter(jsondf.mode=="online").show()

+------+----+--------+---+
|  mode|name|   topic|usn|
+------+----+--------+---+
|online|  n1|Big data| u1|
|online|  n3|      AI| u3|
|online|  n4|      AI| u4|
+------+----+--------+---+

In [ ]:
# convert data frame to rdd and write to csv

ftrain=train.filter(train.Purchase>20000)
frdd=ftrain.rdd
frdd.saveAsTextFile('/context/sample_data/f.txt')

In [3]:
# DAY-04

!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=e4ccffaafe86aa7e74bc885a6684a17f24c10641dff969c8b4afa9dad75deae8
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [ ]:
#Drop duplicates

from pyspark.sql.session import SparkSession
sess=SparkSession.builder.getOrCreate()
df=sess.createDataFrame([
    (1,144.5,5.9,33,'M'),
    (2,167.2,5.4,45,'M'),
    (3,124.1,5.2,23,'F'),
    (4,144.5,5.9,33,'M'),
    (5,133.2,5.7,54,'F'),
    (3,124.1,5.2,23,'F'),
    (5,129.2,5.3,42,'M'),
],['id','weight','height','age','gender'])

df.show()
df.count()

+---+------+------+---+------+
| id|weight|height|age|gender|
+---+------+------+---+------+
|  1| 144.5|   5.9| 33|     M|
|  2| 167.2|   5.4| 45|     M|
|  3| 124.1|   5.2| 23|     F|
|  4| 144.5|   5.9| 33|     M|
|  5| 133.2|   5.7| 54|     F|
|  3| 124.1|   5.2| 23|     F|
|  5| 129.2|   5.3| 42|     M|
+---+------+------+---+------+

7

In [ ]:
df=df.dropDuplicates(subset=[c for c in df.columns if c!='id' ])
df.show()

+---+------+------+---+------+
| id|weight|height|age|gender|
+---+------+------+---+------+
|  1| 144.5|   5.9| 33|     M|
|  2| 167.2|   5.4| 45|     M|
|  3| 124.1|   5.2| 23|     F|
|  5| 133.2|   5.7| 54|     F|
|  5| 129.2|   5.3| 42|     M|
+---+------+------+---+------+

In [ ]:
df=df.drop('id')
df.show()

+------+------+---+------+
|weight|height|age|gender|
+------+------+---+------+
| 144.5|   5.9| 33|     M|
| 167.2|   5.4| 45|     M|
| 124.1|   5.2| 23|     F|
| 133.2|   5.7| 54|     F|
| 129.2|   5.3| 42|     M|
+------+------+---+------+

In [ ]:
#recreating id with automatic increaser

import pyspark.sql.functions as fn
df=df.withColumn('id',fn.monotonically_increasing_id()+1)
df.show()

+------+------+---+------+---+
|weight|height|age|gender| id|
+------+------+---+------+---+
| 144.5|   5.9| 33|     M|  1|
| 167.2|   5.4| 45|     M|  2|
| 124.1|   5.2| 23|     F|  3|
| 133.2|   5.7| 54|     F|  4|
| 129.2|   5.3| 42|     M|  5|
+------+------+---+------+---+

In [ ]:
#ordering as per our requirements

df=df.select('id','height','weight','age','gender')
df.show()

+---+------+------+---+------+
| id|height|weight|age|gender|
+---+------+------+---+------+
|  1|   5.9| 144.5| 33|     M|
|  2|   5.4| 167.2| 45|     M|
|  3|   5.2| 124.1| 23|     F|
|  4|   5.7| 133.2| 54|     F|
|  5|   5.3| 129.2| 42|     M|
+---+------+------+---+------+

In [ ]:
df_miss = sess.createDataFrame([
        (1, 143.5, 5.6, 28,   'M',  100000),
        (2, 167.2, 5.4, 45,   'M',  None),
        (3, None , 5.2, None, None, None),
        (4, 144.5, 5.9, 33,   'M',  None),
        (5, 133.2, 5.7, 54,   'F',  None),
        (6, 124.1, 5.2, None, 'F',  None),
        (7, 129.2, 5.3, 42,   'M',  76000),
    ], ['id', 'weight', 'height', 'age', 'gender', 'income'])
# replacing blank data with meaning data is called imputing

df_miss.show()

+---+------+------+----+------+------+
| id|weight|height| age|gender|income|
+---+------+------+----+------+------+
|  1| 143.5|   5.6|  28|     M|100000|
|  2| 167.2|   5.4|  45|     M|  null|
|  3|  null|   5.2|null|  null|  null|
|  4| 144.5|   5.9|  33|     M|  null|
|  5| 133.2|   5.7|  54|     F|  null|
|  6| 124.1|   5.2|null|     F|  null|
|  7| 129.2|   5.3|  42|     M| 76000|
+---+------+------+----+------+------+

In [ ]:
df_miss.agg(*[
    (1-(fn.count(c)/fn.count('*'))).alias(c+'_missing')
    for c in df_miss.columns
]).show()

+----------+------------------+--------------+------------------+------------------+------------------+
|id_missing|    weight_missing|height_missing|       age_missing|    gender_missing|    income_missing|
+----------+------------------+--------------+------------------+------------------+------------------+
|       0.0|0.1428571428571429|           0.0|0.2857142857142857|0.1428571428571429|0.7142857142857143|
+----------+------------------+--------------+------------------+------------------+------------------+

In [ ]:
# if row contain more than 3 NULL values delete it

df_miss=df_miss.drop('income')
df_miss=df_miss.dropna(thresh=3)
df_miss.show()

+---+------+------+----+------+
| id|weight|height| age|gender|
+---+------+------+----+------+
|  1| 143.5|   5.6|  28|     M|
|  2| 167.2|   5.4|  45|     M|
|  4| 144.5|   5.9|  33|     M|
|  5| 133.2|   5.7|  54|     F|
|  6| 124.1|   5.2|null|     F|
|  7| 129.2|   5.3|  42|     M|
+---+------+------+----+------+

In [ ]:
#replace null with average if that row

avgdf=df_miss.agg({'age':'mean'})
avgage=avgdf.collect()[0][0]
avgage
avgdf.show()
avgdf.collect()[0]

+--------+
|avg(age)|
+--------+
|    40.4|
+--------+

Row(avg(age)=40.4)

In [ ]:
#replacing null

df_miss=df_miss.fillna(avgage)
df_miss.show()

+---+------+------+---+------+
| id|weight|height|age|gender|
+---+------+------+---+------+
|  1| 143.5|   5.6| 28|     M|
|  2| 167.2|   5.4| 45|     M|
|  4| 144.5|   5.9| 33|     M|
|  5| 133.2|   5.7| 54|     F|
|  6| 124.1|   5.2| 40|     F|
|  7| 129.2|   5.3| 42|     M|
+---+------+------+---+------+

In [4]:
#Define schema for boston csv
import pyspark.sql.types as typ
labels=[
        ('crim',typ.DoubleType()),
        ('zn',typ.DoubleType()),
        ('indus',typ.DoubleType()),
        ('chas',typ.DoubleType()),
        ('nox',typ.DoubleType()),
        ('rm',typ.DoubleType()),
        ('age',typ.DoubleType()),
        ('dis',typ.DoubleType()),
        ('rad',typ.DoubleType()),
        ('tax',typ.DoubleType()),
        ('ptratio',typ.DoubleType()),
        ('black',typ.DoubleType()),
        ('lstat',typ.DoubleType()),
        ('medv',typ.DoubleType())

        ]
schema = typ.StructType([
typ.StructField(e[0], e[1], False) for e in labels
])

In [6]:
#reading boston csv

from pyspark.sql.session import SparkSession
sess=SparkSession.builder.getOrCreate()
boston=sess.read.csv("/content/sample_data/Boston - Boston.csv",header=True,schema=schema)

boston.count()
boston.printSchema()
len(boston.columns)

root
 |-- crim: double (nullable = true)
 |-- zn: double (nullable = true)
 |-- indus: double (nullable = true)
 |-- chas: double (nullable = true)
 |-- nox: double (nullable = true)
 |-- rm: double (nullable = true)
 |-- age: double (nullable = true)
 |-- dis: double (nullable = true)
 |-- rad: double (nullable = true)
 |-- tax: double (nullable = true)
 |-- ptratio: double (nullable = true)
 |-- black: double (nullable = true)
 |-- lstat: double (nullable = true)
 |-- medv: double (nullable = true)

14

In [7]:
#Drop duplicates and null values

boston.count(),boston.dropDuplicates().count(),boston.dropna().count()

(506, 506, 506)

In [ ]:
boston.show(3)

+-------+----+-----+----+-----+-----+----+------+---+-----+-------+------+-----+----+
|   crim|  zn|indus|chas|  nox|   rm| age|   dis|rad|  tax|ptratio| black|lstat|medv|
+-------+----+-----+----+-----+-----+----+------+---+-----+-------+------+-----+----+
|0.00632|18.0| 2.31| 0.0|0.538|6.575|65.2|  4.09|1.0|296.0|   15.3| 396.9| 4.98|24.0|
|0.02731| 0.0| 7.07| 0.0|0.469|6.421|78.9|4.9671|2.0|242.0|   17.8| 396.9| 9.14|21.6|
|0.02729| 0.0| 7.07| 0.0|0.469|7.185|61.1|4.9671|2.0|242.0|   17.8|392.83| 4.03|34.7|
+-------+----+-----+----+-----+-----+----+------+---+-----+-------+------+-----+----+
only showing top 3 rows

In [8]:
#Compute mean and variance stastics

import pyspark.mllib.stat as st
numeric_rdd=boston.rdd
numeric_rdd=numeric_rdd.map(lambda row:[e for e in row])
numeric_rdd.take(3)

[[0.00632,
  18.0,
  2.31,
  0.0,
  0.538,
  6.575,
  65.2,
  4.09,
  1.0,
  296.0,
  15.3,
  396.9,
  4.98,
  24.0],
 [0.02731,
  0.0,
  7.07,
  0.0,
  0.469,
  6.421,
  78.9,
  4.9671,
  2.0,
  242.0,
  17.8,
  396.9,
  9.14,
  21.6],
 [0.02729,
  0.0,
  7.07,
  0.0,
  0.469,
  7.185,
  61.1,
  4.9671,
  2.0,
  242.0,
  17.8,
  392.83,
  4.03,
  34.7]]

In [9]:
mllib_stats = st.Statistics.colStats(numeric_rdd)
mllib_stats.mean(), mllib_stats.variance()

(array([3.61352356e+00, 1.13636364e+01, 1.11367787e+01, 6.91699605e-02,
        5.54695059e-01, 6.28463439e+00, 6.85749012e+01, 3.79504269e+00,
        9.54940711e+00, 4.08237154e+02, 1.84555336e+01, 3.56674032e+02,
        1.26530632e+01, 2.25328063e+01]),
 array([7.39865782e+01, 5.43936814e+02, 4.70644425e+01, 6.45129730e-02,
        1.34276357e-02, 4.93670850e-01, 7.92358399e+02, 4.43401514e+00,
        7.58163660e+01, 2.84047595e+04, 4.68698912e+00, 8.33475226e+03,
        5.09947595e+01, 8.45867236e+01]))

In [10]:
# computing correlation matrix

corrs=st.Statistics.corr(numeric_rdd)

In [11]:
len(corrs)
corrs
corrs[-1]

array([-0.38830461,  0.36044534, -0.48372516,  0.17526018, -0.42732077,
        0.69535995, -0.37695457,  0.24992873, -0.38162623, -0.46853593,
       -0.50778669,  0.33346082, -0.73766273,  1.        ])

In [12]:
#Filter columns based on threshold value of correlation
#for example cut off as >=0.4
# consider:indus,nox,rm,tax,ptratio,lstat
#Form input feature vectors and output variable (target variable)
from pyspark.ml.feature import VectorAssembler
vectorAssembler = VectorAssembler(inputCols = ['crim','zn','indus','nox','rm',
'rad',
'tax',
'ptratio',
'lstat'], outputCol = 'features')
boston_vector = vectorAssembler.transform(boston)
boston_vector.show(3,truncate=False)

+-------+----+-----+----+-----+-----+----+------+---+-----+-------+------+-----+----+---------------------------------------------------+
|crim   |zn  |indus|chas|nox  |rm   |age |dis   |rad|tax  |ptratio|black |lstat|medv|features                                           |
+-------+----+-----+----+-----+-----+----+------+---+-----+-------+------+-----+----+---------------------------------------------------+
|0.00632|18.0|2.31 |0.0 |0.538|6.575|65.2|4.09  |1.0|296.0|15.3   |396.9 |4.98 |24.0|[0.00632,18.0,2.31,0.538,6.575,1.0,296.0,15.3,4.98]|
|0.02731|0.0 |7.07 |0.0 |0.469|6.421|78.9|4.9671|2.0|242.0|17.8   |396.9 |9.14 |21.6|[0.02731,0.0,7.07,0.469,6.421,2.0,242.0,17.8,9.14] |
|0.02729|0.0 |7.07 |0.0 |0.469|7.185|61.1|4.9671|2.0|242.0|17.8   |392.83|4.03 |34.7|[0.02729,0.0,7.07,0.469,7.185,2.0,242.0,17.8,4.03] |
+-------+----+-----+----+-----+-----+----+------+---+-----+-------+------+-----+----+---------------------------------------------------+
only showing top 3 rows

In [13]:
boston_vector.select(['features','medv']).show(3,truncate=False)

+---------------------------------------------------+----+
|features                                           |medv|
+---------------------------------------------------+----+
|[0.00632,18.0,2.31,0.538,6.575,1.0,296.0,15.3,4.98]|24.0|
|[0.02731,0.0,7.07,0.469,6.421,2.0,242.0,17.8,9.14] |21.6|
|[0.02729,0.0,7.07,0.469,7.185,2.0,242.0,17.8,4.03] |34.7|
+---------------------------------------------------+----+
only showing top 3 rows

In [14]:
#Split into training and test data frames
splits=boston_vector.randomSplit([0.7, 0.3])
boston_train=splits[0]
boston_test=splits[1]
boston_train.count(), boston_test.count()

(367, 139)

In [15]:
#Apply Linear Regression model
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(featuresCol = 'features', labelCol='medv', maxIter=10, regParam=0.3, elasticNetParam=0.8)
lr_model = lr.fit(boston_train)
print("Weights: " + str(lr_model.coefficients))
print("Bias: " + str(lr_model.intercept))

Weights: [-0.05319890090534151,0.0,0.0,0.0,4.377895833932924,0.0,0.0,-0.8864220370247602,-0.5509900961448162]
Bias: 18.593353252345143

In [19]:
# Perform predictions
lr_predictions = lr_model.transform(boston_test)
lr_predictions.select("prediction","medv","features").show(5)

+------------------+----+--------------------+
|        prediction|medv|            features|
+------------------+----+--------------------+
|31.071494298120385|24.0|[0.00632,18.0,2.3...|
| 28.74642635100971|22.0|[0.01096,55.0,2.2...|
| 38.66763034903876|50.0|[0.01381,80.0,0.4...|
|39.482155021738755|50.0|[0.01501,90.0,1.2...|
| 30.49829719175679|30.1|[0.01709,90.0,2.0...|
+------------------+----+--------------------+
only showing top 5 rows

In [20]:
# Evaluate prediction accuracy (R2)
from pyspark.ml.evaluation import RegressionEvaluator
lr_evaluator = RegressionEvaluator(predictionCol="prediction", \
                 labelCol="medv",metricName="r2")
print(lr_evaluator.evaluate(lr_predictions))

0.6248024320672854

In [22]:
# DAY-05
# we need to install pyspark after every shutdown of our laptop or computer
# all machine learning except two columns INPUT and OUTPUT

#Apply decision tree model

from pyspark.ml.regression import DecisionTreeRegressor
dt=DecisionTreeRegressor(featuresCol='features',labelCol='medv')
dt_model=dt.fit(boston_train)

In [24]:
#perform predictions

dt_predictions=dt_model.transform(boston_test)
dt_predictions.show(5)

+-------+----+-----+----+-----+-----+----+-------+---+-----+-------+------+-----+----+--------------------+------------------+
|   crim|  zn|indus|chas|  nox|   rm| age|    dis|rad|  tax|ptratio| black|lstat|medv|            features|        prediction|
+-------+----+-----+----+-----+-----+----+-------+---+-----+-------+------+-----+----+--------------------+------------------+
|0.00632|18.0| 2.31| 0.0|0.538|6.575|65.2|   4.09|1.0|296.0|   15.3| 396.9| 4.98|24.0|[0.00632,18.0,2.3...|27.297499999999996|
|0.01096|55.0| 2.25| 0.0|0.389|6.453|31.9| 7.3073|1.0|300.0|   15.3|394.72| 8.23|22.0|[0.01096,55.0,2.2...|22.775806451612905|
|0.01381|80.0| 0.46| 0.0|0.422|7.875|32.0| 5.6484|4.0|255.0|   14.4|394.23| 2.97|50.0|[0.01381,80.0,0.4...| 46.96666666666667|
|0.01501|90.0| 1.21| 1.0|0.401|7.923|24.8|  5.885|1.0|198.0|   13.6|395.52| 3.16|50.0|[0.01501,90.0,1.2...| 46.96666666666667|
|0.01709|90.0| 2.02| 0.0| 0.41|6.728|36.1|12.1265|5.0|187.0|   17.0|384.46|  4.5|30.1|[0.01709,90.0,2.0...|27.297499999999996|
+-------+----+-----+----+-----+-----+----+-------+---+-----+-------+------+-----+----+--------------------+------------------+
only showing top 5 rows

In [25]:
#Evaluate prediction accuracy

dt_evaluator = RegressionEvaluator(
    labelCol="medv", predictionCol="prediction", metricName="r2")
r2 = dt_evaluator.evaluate(dt_predictions)
print(r2)

0.8252593382225055

In [30]:
#apply gradient boost regression model

from pyspark.ml.regression import GBTRegressor
gbt=GBTRegressor(featuresCol='features',labelCol='medv',maxIter=50)
gbt_model=gbt.fit(boston_train)

In [31]:
#perform predictions

gbt_predictions = gbt_model.transform(boston_test)
gbt_predictions.select('prediction', 'medv', 'features').show(5)

+------------------+----+--------------------+
|        prediction|medv|            features|
+------------------+----+--------------------+
| 24.19151107776069|24.0|[0.00632,18.0,2.3...|
| 21.02112640494424|22.0|[0.01096,55.0,2.2...|
| 49.82111345159569|50.0|[0.01381,80.0,0.4...|
|48.736355330965225|50.0|[0.01501,90.0,1.2...|
|30.000512755819297|30.1|[0.01709,90.0,2.0...|
+------------------+----+--------------------+
only showing top 5 rows

In [32]:
#evaluate prediction accuracy

gbt_evaluator = RegressionEvaluator(
    labelCol="medv", predictionCol="prediction", metricName="r2")
r2 = gbt_evaluator.evaluate(gbt_predictions)
print(r2)

0.8393493174373484

In [33]:
import pyspark.sql.types as typ
labels=[
        ('make',typ.StringType()),
        ('model',typ.StringType()),
        ('year',typ.IntegerType()),
        ('fueltype',typ.StringType()),
        ('ehp',typ.IntegerType()),
        ('nc',typ.IntegerType()),
        ('tt',typ.StringType()),
        ('dw',typ.StringType()),
        ('nod',typ.IntegerType()),
        ('mcat',typ.StringType()),
        ('vsize',typ.StringType()),
        ('vstyle',typ.StringType()),
        ('hmil',typ.IntegerType()),
        ('cmil',typ.IntegerType()),
        ('pop',typ.IntegerType()),
        ('msrp',typ.IntegerType()),

        ]
schema = typ.StructType([
typ.StructField(e[0], e[1], False) for e in labels
])

In [36]:
#reading car csv using pyspark

from pyspark import SparkContext, SQLContext
from pyspark.sql.session import SparkSession
sess=SparkSession.builder.getOrCreate()
cars=sess.read.csv("/content/sample_data/cars - cars.csv",header=True,schema=schema)

In [41]:
cars.count()
len(cars.columns)
cars.describe() #to check data type of all variables
cars.describe().toPandas().transpose() #topandas will show data in the table form

,0,1,2,3,4
summary,count,mean,stddev,min,max
make,11914,None,None,Acura,Volvo
model,11914,745.5822222222222,1490.8280590623795,09-Mar,xD
year,11914,2010.384337753903,7.5797398875957995,1990,2017
fueltype,11911,None,None,diesel,regular unleaded
ehp,11845,249.38607007176023,109.19187025917194,55,1001
nc,11884,5.628828677213059,1.78055934824622,0,16
tt,11914,None,None,AUTOMATED_MANUAL,UNKNOWN
dw,11914,None,None,all wheel drive,rear wheel drive
nod,11908,3.4360933825999327,0.8813153865835529,2,4
mcat,11914,None,None,Crossover,"Performance,Hybrid"
vsize,11914,None,None,Compact,Midsize
vstyle,11914,None,None,2dr Hatchback,Wagon
hmil,11914,26.637485311398354,8.863000766979422,12,354
cmil,11914,19.73325499412456,8.987798160299237,7,137
pop,11914,1554.9111969111968,1441.8553466274648,2,5657
msrp,11914,40594.737032063116,60109.10360365422,2000,2065902

In [42]:
from pyspark.sql.functions import when,lit,count,isnan,col
def replace(column, value):
    return when(column!=value,column).otherwise(lit(None))
cars = cars.withColumn("mcat", replace(col("mcat"),"N/A"))
cars = cars.withColumn("fueltype", replace(col("fueltype"),"N/A"))

In [43]:
#check how many null values are there

cars.select([count(when(isnan(c)|col(c).isNull(),c)).alias(c) for c in cars.columns]).show()

+----+-----+----+--------+---+---+---+---+---+----+-----+------+----+----+---+----+
|make|model|year|fueltype|ehp| nc| tt| dw|nod|mcat|vsize|vstyle|hmil|cmil|pop|msrp|
+----+-----+----+--------+---+---+---+---+---+----+-----+------+----+----+---+----+
|   0|    0|   0|       3| 69| 30|  0|  0|  6|3742|    0|     0|   0|   0|  0|   0|
+----+-----+----+--------+---+---+---+---+---+----+-----+------+----+----+---+----+

In [44]:
#deleting the column Market Category

dcars = cars.drop("mcat")

In [45]:
# deleting the all null values

dcars = dcars.na.drop()

In [46]:
print(cars.count(),dcars.count())

11914 11812

In [47]:
#Checking mean and variance for selected columns which will be displayed in rows

import pyspark.mllib.stat as st
dcars=dcars.select(['year','ehp','nc','nod','hmil','cmil','pop','msrp'])
numeric_rdd = dcars.rdd
numeric_rdd=numeric_rdd.map(lambda row: [e for e in row])
#numeric_rdd=numeric_rdd.map(lambda e: e in ['year','ehp','nc','nod','hmil','cmil','pop','msrp'])
numeric_rdd.take(3)
mllib_stats = st.Statistics.colStats(numeric_rdd)
mllib_stats.mean(), mllib_stats.variance()

(array([2.01036158e+03, 2.49504487e+02, 5.64942431e+00, 3.43252624e+00,
        2.63209448e+01, 1.93281409e+01, 1.55367990e+03, 4.05599353e+04]),
 array([5.76786627e+01, 1.19261574e+04, 3.06826400e+00, 7.79546475e-01,
        5.54070187e+01, 4.26113052e+01, 2.07379533e+06, 3.63417688e+09]))

In [48]:
# find correlation
corrs = st.Statistics.corr(numeric_rdd)
corrs[-1]

array([ 0.22732735,  0.66182734,  0.54400159, -0.12731632, -0.19896217,
       -0.2253169 , -0.04860859,  1.        ])

In [49]:
from pyspark.ml.feature import VectorAssembler
vectorAssembler = VectorAssembler(inputCols = ['year','cmil','ehp','nc'], outputCol = 'features')
cars_vector = vectorAssembler.transform(dcars)
cars_vector = cars_vector.select(['features', 'msrp'])
cars_vector.show(3,truncate=False)

+-----------------------+-----+
|features               |msrp |
+-----------------------+-----+
|[2011.0,19.0,335.0,6.0]|46135|
|[2011.0,19.0,300.0,6.0]|40650|
|[2011.0,20.0,300.0,6.0]|36350|
+-----------------------+-----+
only showing top 3 rows

In [50]:
splits=cars_vector.randomSplit([0.7, 0.3])
cars_train=splits[0]
cars_test=splits[1]
cars_train.count(), cars_test.count()

(8227, 3585)

In [51]:
# perform linear regression

from pyspark.ml.regression import LinearRegression
lr = LinearRegression(featuresCol = 'features', labelCol='msrp', maxIter=10, regParam=0.3, elasticNetParam=0.8)
lr_model = lr.fit(cars_train)
print("Weights: " + str(lr_model.coefficients))
print("Bias: " + str(lr_model.intercept))

Weights: [-306.6542059589587,1801.7441017336596,356.83881004927764,6851.368661538304]
Bias: 494753.08131112985

In [52]:
lr_predictions = lr_model.transform(cars_test)
lr_predictions.select("prediction","msrp","features").show(5)

+-------------------+----+--------------------+
|         prediction|msrp|            features|
+-------------------+----+--------------------+
| 45870.726757640485|2323|[1990.0,12.0,238....|
|-30743.403572338517|2000|[1990.0,14.0,90.0...|
| 36271.178989284555|2000|[1990.0,14.0,201....|
| 2603.0183549356298|2000|[1990.0,15.0,140....|
| 2603.0183549356298|2000|[1990.0,15.0,140....|
+-------------------+----+--------------------+
only showing top 5 rows

In [53]:
#calculate regression evaluator

from pyspark.ml.evaluation import RegressionEvaluator
lr_evaluator = RegressionEvaluator(predictionCol="prediction", \
                 labelCol="msrp",metricName="r2")
print(lr_evaluator.evaluate(lr_predictions))

0.5407290132146165

In [54]:
from pyspark.ml.regression import DecisionTreeRegressor
dt = DecisionTreeRegressor(featuresCol ='features', labelCol = 'msrp')
dt_model = dt.fit(cars_train)

In [55]:
#perform predictions

dt_predictions = dt_model.transform(cars_test)
dt_predictions.show(5)

+--------------------+----+-----------------+
|            features|msrp|       prediction|
+--------------------+----+-----------------+
|[1990.0,12.0,238....|2323|2989.868486352357|
|[1990.0,14.0,90.0...|2000|2107.019471488178|
|[1990.0,14.0,201....|2000|2989.868486352357|
|[1990.0,15.0,140....|2000|2107.019471488178|
|[1990.0,15.0,140....|2000|2107.019471488178|
+--------------------+----+-----------------+
only showing top 5 rows

In [56]:
#evaluate prediction accuracy

dt_evaluator = RegressionEvaluator(
    labelCol="msrp", predictionCol="prediction", metricName="r2")
r2 = dt_evaluator.evaluate(dt_predictions)
print(r2)

0.7969563659648442

In [57]:
#applying grading boosting

from pyspark.ml.regression import GBTRegressor
gbt = GBTRegressor(featuresCol = 'features', labelCol = 'msrp', maxIter=10)
gbt_model = gbt.fit(cars_train)

In [60]:
#perform prediction

gbt_predictions = gbt_model.transform(cars_test)
gbt_predictions.select('prediction', 'msrp', 'features').show(5)

+------------------+----+--------------------+
|        prediction|msrp|            features|
+------------------+----+--------------------+
|2906.4928685068817|2323|[1990.0,12.0,238....|
|1719.6282722642584|2000|[1990.0,14.0,90.0...|
| 2602.477287128437|2000|[1990.0,14.0,201....|
|1719.6282722642584|2000|[1990.0,15.0,140....|
|1719.6282722642584|2000|[1990.0,15.0,140....|
+------------------+----+--------------------+
only showing top 5 rows

In [61]:
#evaluate prediction accuracy

gbt_evaluator = RegressionEvaluator(
    labelCol="msrp", predictionCol="prediction", metricName="r2")
r2 = gbt_evaluator.evaluate(gbt_predictions)
print(r2)

0.8209738033065297

In [62]:
#creating our own dataset

from pyspark.sql.types import *
#create the structure of schema
schema = StructType().add("id","integer").add("name","string").add("qualification","string").add("age", "integer").add("gender", "string")
#create data
data = [
    (1,'John',"B.A.", 20, "Male"),
    (2,'Martha',"B.Com.", 20, "Female"),
    (3,'Mona',"B.Com.", 21, "Female"),
    (4,'Harish',"B.Sc.", 22, "Male"),
    (5,'Jonny',"B.A.", 22, "Male"),
    (6,'Maria',"B.A.", 23, "Female"),
    (7,'Monalisa',"B.A.", 21, "Female")]

In [76]:
#create a custom data frame

df=sess.createDataFrame(data,schema=schema)
df.show()
df.describe()

+---+--------+-------------+---+------+
| id|    name|qualification|age|gender|
+---+--------+-------------+---+------+
|  1|    John|         B.A.| 20|  Male|
|  2|  Martha|       B.Com.| 20|Female|
|  3|    Mona|       B.Com.| 21|Female|
|  4|  Harish|        B.Sc.| 22|  Male|
|  5|   Jonny|         B.A.| 22|  Male|
|  6|   Maria|         B.A.| 23|Female|
|  7|Monalisa|         B.A.| 21|Female|
+---+--------+-------------+---+------+

DataFrame[summary: string, id: string, name: string, qualification: string, age: string, gender: string]

In [82]:
#use string indexer for conversion from categorical to numeric
#creating for each index

from pyspark.ml.feature import StringIndexer
qual_indexer=StringIndexer(inputCol="qualification",outputCol="qualification_index")
dfq=qual_indexer.fit(df).transform(df)
dfq.show()

+---+--------+-------------+---+------+-------------------+
| id|    name|qualification|age|gender|qualification_index|
+---+--------+-------------+---+------+-------------------+
|  1|    John|         B.A.| 20|  Male|                0.0|
|  2|  Martha|       B.Com.| 20|Female|                1.0|
|  3|    Mona|       B.Com.| 21|Female|                1.0|
|  4|  Harish|        B.Sc.| 22|  Male|                2.0|
|  5|   Jonny|         B.A.| 22|  Male|                0.0|
|  6|   Maria|         B.A.| 23|Female|                0.0|
|  7|Monalisa|         B.A.| 21|Female|                0.0|
+---+--------+-------------+---+------+-------------------+

In [91]:
#use string indexer for conversion from categorical to numeric
#creating sub from existing database
#it is for example for previous command

from pyspark.ml.feature import StringIndexer
gender_indexer=StringIndexer(inputCol="gender",outputCol="gender_index")
dfq=gender_indexer.fit(df).transform(df)
dfq.show()

+---+--------+-------------+---+------+------------+
| id|    name|qualification|age|gender|gender_index|
+---+--------+-------------+---+------+------------+
|  1|    John|         B.A.| 20|  Male|         1.0|
|  2|  Martha|       B.Com.| 20|Female|         0.0|
|  3|    Mona|       B.Com.| 21|Female|         0.0|
|  4|  Harish|        B.Sc.| 22|  Male|         1.0|
|  5|   Jonny|         B.A.| 22|  Male|         1.0|
|  6|   Maria|         B.A.| 23|Female|         0.0|
|  7|Monalisa|         B.A.| 21|Female|         0.0|
+---+--------+-------------+---+------+------------+

In [89]:
df.describe()

DataFrame[summary: string, id: string, name: string, qualification: string, age: string, gender: string]

In [83]:
from pyspark.ml.feature import OneHotEncoder
qual_onehot=OneHotEncoder(inputCol="qualification_index",outputCol="qualification_vector")
dfqo=qual_onehot.fit(dfq).transform(dfq)
dfqo.show()

+---+--------+-------------+---+------+-------------------+--------------------+
| id|    name|qualification|age|gender|qualification_index|qualification_vector|
+---+--------+-------------+---+------+-------------------+--------------------+
|  1|    John|         B.A.| 20|  Male|                0.0|       (2,[0],[1.0])|
|  2|  Martha|       B.Com.| 20|Female|                1.0|       (2,[1],[1.0])|
|  3|    Mona|       B.Com.| 21|Female|                1.0|       (2,[1],[1.0])|
|  4|  Harish|        B.Sc.| 22|  Male|                2.0|           (2,[],[])|
|  5|   Jonny|         B.A.| 22|  Male|                0.0|       (2,[0],[1.0])|
|  6|   Maria|         B.A.| 23|Female|                0.0|       (2,[0],[1.0])|
|  7|Monalisa|         B.A.| 21|Female|                0.0|       (2,[0],[1.0])|
+---+--------+-------------+---+------+-------------------+--------------------+

In [92]:
from pyspark.ml.feature import OneHotEncoder
gender_onehot=OneHotEncoder(inputCol="gender_index",outputCol="gender_vector")
dfqo=gender_onehot.fit(dfq).transform(dfq)
dfqo.show()

+---+--------+-------------+---+------+------------+-------------+
| id|    name|qualification|age|gender|gender_index|gender_vector|
+---+--------+-------------+---+------+------------+-------------+
|  1|    John|         B.A.| 20|  Male|         1.0|    (1,[],[])|
|  2|  Martha|       B.Com.| 20|Female|         0.0|(1,[0],[1.0])|
|  3|    Mona|       B.Com.| 21|Female|         0.0|(1,[0],[1.0])|
|  4|  Harish|        B.Sc.| 22|  Male|         1.0|    (1,[],[])|
|  5|   Jonny|         B.A.| 22|  Male|         1.0|    (1,[],[])|
|  6|   Maria|         B.A.| 23|Female|         0.0|(1,[0],[1.0])|
|  7|Monalisa|         B.A.| 21|Female|         0.0|(1,[0],[1.0])|
+---+--------+-------------+---+------+------------+-------------+

In [93]:
from pyspark.ml import Pipeline
qual_indexer=StringIndexer(inputCol="qualification",outputCol="qualification_index")
gender_indexer=StringIndexer(inputCol="gender",outputCol="gender_index")
qual_onehot=OneHotEncoder(inputCol="qualification_index",outputCol="qualification_vector")
gender_onehot=OneHotEncoder(inputCol="gender_index",outputCol="gender_vector")
pipeline=Pipeline(stages=[qual_indexer,gender_indexer,qual_onehot,gender_onehot])
model=pipeline.fit(df).transform(df)
model.show()

+---+--------+-------------+---+------+-------------------+------------+--------------------+-------------+
| id|    name|qualification|age|gender|qualification_index|gender_index|qualification_vector|gender_vector|
+---+--------+-------------+---+------+-------------------+------------+--------------------+-------------+
|  1|    John|         B.A.| 20|  Male|                0.0|         1.0|       (2,[0],[1.0])|    (1,[],[])|
|  2|  Martha|       B.Com.| 20|Female|                1.0|         0.0|       (2,[1],[1.0])|(1,[0],[1.0])|
|  3|    Mona|       B.Com.| 21|Female|                1.0|         0.0|       (2,[1],[1.0])|(1,[0],[1.0])|
|  4|  Harish|        B.Sc.| 22|  Male|                2.0|         1.0|           (2,[],[])|    (1,[],[])|
|  5|   Jonny|         B.A.| 22|  Male|                0.0|         1.0|       (2,[0],[1.0])|    (1,[],[])|
|  6|   Maria|         B.A.| 23|Female|                0.0|         0.0|       (2,[0],[1.0])|(1,[0],[1.0])|
|  7|Monalisa|         B.A.| 21|Female|                0.0|         0.0|       (2,[0],[1.0])|(1,[0],[1.0])|
+---+--------+-------------+---+------+-------------------+------------+--------------------+-------------+