<a href="https://colab.research.google.com/github/sreeharsha243/BigData/blob/main/Bigdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# DAY-01

#create a list of cricket player names and sort them

cplayers=["virat","rahul","ashwin","rohit","Jadeja"]
splayers=sorted(cplayers,key=lambda arg:arg.lower())
splayers

['ashwin', 'Jadeja', 'rahul', 'rohit', 'virat']

In [ ]:
#list the players whose name contain 'h'

list(filter(lambda arg:'h' in arg,cplayers))

['rahul', 'ashwin', 'rohit']

In [ ]:
#list the players whose name length is >5

list(filter(lambda arg:len(arg)>5,cplayers))

['ashwin', 'Jadeja']

In [ ]:
#map each case to upper case

list(map(lambda item:item.upper(),cplayers))

['VIRAT', 'RAHUL', 'ASHWIN', 'ROHIT', 'JADEJA']

In [ ]:
#map each name to (name,length)
#virat ->(virat,5)

list(map(lambda name:(name,len(name)),cplayers))

[('virat', 5), ('rahul', 5), ('ashwin', 6), ('rohit', 5), ('Jadeja', 6)]

In [ ]:
#Reduce all cricket players names to a single string

from functools import reduce
reduce(lambda a,b:a+b,cplayers)

'viratrahulashwinrohitJadeja'

In [ ]:
l1=[1,3,5,2,6]
reduce(max,l1)

6

In [43]:
#Find the cricket player with maximum length

l1=list(map(lambda name:(len(name),name),cplayers))
l1.sort(reverse=True)
print(l1)
l2=list(filter(lambda x:(x[0]==l1[0][0]),l1))
print(l2)
l3=list(map(lambda w:(w[1],w[0]),l2))
print(l3)
l3.sort()
print(l3)
print(l3[0][0])

[(6, 'ashwin'), (6, 'Jadeja'), (5, 'virat'), (5, 'rohit'), (5, 'rahul')]
[(6, 'ashwin'), (6, 'Jadeja')]
[('ashwin', 6), ('Jadeja', 6)]
[('Jadeja', 6), ('ashwin', 6)]
Jadeja

In [45]:
# INTERACTIVE PTYHON NOTEBOOK
# DAY-02
#python install packager
# ! define as python as commands

!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=5ce7893ff656a851757320759f5d133fd7c16a27097a3d94d9165e391ab18efa
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [46]:
from pyspark import SparkContext
sc=SparkContext.getOrCreate()

In [47]:
# range(1000) means 0,1,2,3,.....,999

rdd=sc.parallelize(range(1000))
print(rdd.take(15))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [50]:
odd=rdd.filter(lambda n:n%2!=0)
print(odd.take(15))
even=rdd.filter(lambda n:n%2==0)
even.take(15)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [52]:
blog=sc.textFile('/content/sample_data/blogtt.txt')
blog.take(5)
#or we can use blog.collect() for whole text file

['Think of it for a moment – 1 Qunitillion = 1 Million Billion! Can you imagine how many drives / CDs / Blue-ray DVDs would be required to store them? It is difficult to imagine this scale of data generation even as a data science professional. While this pace of data generation is very exciting,  it has created entirely new set of challenges and has forced us to find new ways to handle Big Huge data effectively.',
 '',
 '',
 'Big Data is not a new phenomena. It has been around for a while now. However, it has become really important with this pace of data generation. In past, several systems were developed for processing big data. Most of them were based on MapReduce framework. These frameworks typically rely on use of hard disk for saving and retrieving the results. However, this turns out to be very costly in terms of time and speed.',
 '']

In [54]:
#Filter blank lines from RDD and create another stripped RDD
# it was used to remove blank lines from text file
srdd=blog.filter(lambda l:l.strip())
srdd.take(5)

['Think of it for a moment – 1 Qunitillion = 1 Million Billion! Can you imagine how many drives / CDs / Blue-ray DVDs would be required to store them? It is difficult to imagine this scale of data generation even as a data science professional. While this pace of data generation is very exciting,  it has created entirely new set of challenges and has forced us to find new ways to handle Big Huge data effectively.',
 'Big Data is not a new phenomena. It has been around for a while now. However, it has become really important with this pace of data generation. In past, several systems were developed for processing big data. Most of them were based on MapReduce framework. These frameworks typically rely on use of hard disk for saving and retrieving the results. However, this turns out to be very costly in terms of time and speed.',
 'On the other hand, Organizations have never been more hungrier to add a competitive differentiation through understanding this data and offering its customer a much better experience. Imagine how valuable would be Facebook, if it did not understand your interests well? The traditional hard disk based MapReduce kind of frameworks do not help much to address this challenge.',
 'In this article, I will introduce you to one such framework, which has made querying and analysing data at a large scale much more efficient than previous systems / frameworks – Read on!',
 'P.S. This article is meant for complete beginners on the topic and presumes minimal prior knowledge in Big Data']

In [55]:
#to print the number of lines

print(blog.count(),srdd.count())

648 259

In [82]:
#Map each lines to list of words (use map and flatMap)

wrdd=srdd.flatMap(lambda l:l.split(' '))
wrdd.take(5)

['Think', 'of', 'it', 'for', 'a']

In [83]:
#group each word by first letter

grdd=wrdd.groupBy(lambda w:w[0:1])
grdd.take(5)

[('i', <pyspark.resultiterable.ResultIterable at 0x7fb7dea46230>),
 ('1', <pyspark.resultiterable.ResultIterable at 0x7fb7dea47250>),
 ('=', <pyspark.resultiterable.ResultIterable at 0x7fb7dea462f0>),
 ('C', <pyspark.resultiterable.ResultIterable at 0x7fb7dea44e80>),
 ('y', <pyspark.resultiterable.ResultIterable at 0x7fb7dea45600>)]

In [84]:
#Reverse count and letter
rgrdd=grdd.map(lambda w:(len(w[1]),w[0]))
rgrdd.take(5)

[(357, 'i'), (18, '1'), (41, '='), (25, 'C'), (35, 'y')]

In [79]:
#Sort by count in reverse order

srgdd=rgrdd.sortByKey(False)
srgdd.take(5)

[(672, 't'), (507, 'a'), (357, 'i'), (303, 'c'), (277, 's')]

In [89]:
stopwords=["in","on","for","the","a","to","of","and","is"]
stwrdd=wrdd.filter(lambda w:w not in stopwords)
stwrdd.count(),wrdd.count()

(4300, 5281)

In [93]:
import string
pstpwrdd=stwrdd.map(lambda w:w.translate(str.maketrans('','',string.punctuation)))
stwrdd.count(),pstpwrd.count()

(4300, 4300)

In [92]:
#group and sort

grdd=pstpwrdd.groupBy(lambda w:w)
mrdd=grdd.map(lambda x:(len(x[1]),x[0]))
srdd=mrdd.sortByKey(False)
srdd.take(10)

[(118, ''),
 (86, 'Spark'),
 (73, 'we'),
 (69, 'data'),
 (54, 'can'),
 (51, 'this'),
 (50, 'are'),
 (50, 'Apache'),
 (41, 'RDD'),
 (39, 'which')]

In [95]:
#demostrate sampling of RDDs
samplerdd=pstpwrdd.sample(False,0.5,42)
pstpwrdd.count(),samplerdd.count()

(4300, 2127)

In [96]:
samplerdd1=pstpwrdd.sample(True,0.3,42)#30% random samples
samplerdd2=pstpwrdd.sample(True,0.3,43)#30%
usample=samplerdd1.union(samplerdd2)
isample=samplerdd1.intersection(samplerdd2)
d1sample=samplerdd1.subtract(samplerdd2)
d2sample=samplerdd2.subtract(samplerdd1)
samplerdd1.count(),samplerdd2.count(),usample.count(),isample.count(),d1sample.count(),d2sample.count()

(1287, 1260, 2547, 316, 331, 317)

In [99]:
rdd=sc.textFile('/content/sample_data/u.user.txt')

rdd.take(5)

['1|24|M|technician|85711',
 '2|53|F|other|94043',
 '3|23|M|writer|32067',
 '4|24|M|technician|43537',
 '5|33|F|other|15213']

In [105]:
grdd=rdd.groupBy(lambda l:l.split('|')[2])
grdd.take(5)
rgrdd=grdd.map(lambda l:(len(l[1]),l[0]))
rgrdd.take(5)

[(670, 'M'), (273, 'F')]

In [111]:
grdd=rdd.groupBy(lambda l:l.split('|')[3])
grdd.take(5)
rgrdd=grdd.map(lambda l:(len(l[1]),l[0]))
rgrdd=rgrdd.sortByKey(False)
rrgrdd=rgrdd.map(lambda l:(l[1],l[0]))
rrgrdd.take(10)

[('student', 196),
 ('other', 105),
 ('educator', 95),
 ('administrator', 79),
 ('engineer', 67),
 ('programmer', 66),
 ('librarian', 51),
 ('writer', 45),
 ('executive', 32),
 ('scientist', 31)]

In [117]:
# find average age of users
agerdd=rdd.map(lambda l:int(l.split('|')[1]))
average=agerdd.mean()
filterbyage=rdd.filter(lambda l:float(l.split('|')[1])>average)
filterbyage.take(5)
rdd.count(),filterbyage.count()

(943, 399)